<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Google/Cloud/Tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite>
      <directory>Google/Cloud/Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="2048M"/>
  </php>
</phpunit>
